@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --backgoundCol: #090e22;
    --textColor: #fff;
}

body {
    background-color: var(--backgoundCol);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--textColor);
}